body{
    background-color: #621132;
    .btn-primary{
        background-color: #621132;
    }

}

a{
    color: white;
    transition: background .3s ease-in, color .3s ease-in;
    &:hover{
        text-decoration: none;
    }
}
.a-ginda_link{
    color: grey;
    transition: background .3s ease-in, color .3s ease-in;
    &:hover{
        color: #0e5b44;
        text-decoration: none;
    }
}

.a-ginda{
    color: #621132;
    transition: background .3s ease-in, color .3s ease-in;
    &:hover,
    {
        color: #000000;
        text-decoration: none;
    }
}

// estilo documento con observaciones
.observaciones{
    background: #9D2444;
    color: white;
    font-size: 16px;


}

//estilo documento aprobado
.Aprobado{
    background: #0e5b44;
    color: white;
    font-size: 16px;

}

//estilo decumento enviado
.Enviado{
    background: #e5be01;
    color: white;
    font-size: 16px;
}


//estilo disabled
.btn-primary.disabled, .btn-primary:disabled {
    background-color: grey;
    border: none;
}

input:focus, input.form-control:focus {

    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.subir-archivos{
    background: #f8f8f8;
    padding-top: 10px;
    padding-bottom:10px;
    border-radius: 5px;
}
.carga-archivo-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #f8f8f8;
    background-color: #621132;
    color: #f8f8f8;
    border-color: #ccc;
}
.carga-archivo-input:hover {
    position: relative;
    overflow: hidden;
    margin: 0px;
    background-color: #f8f8f8;
    color: #621132;
    border-color: #ccc;
}
.carga-archivo-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    :hover
    {
        color: #1b4b72;
    }
}
.carga-archivo-input-title {
    margin-left:2px;

}

button.btn-primary{
    border-color: #621132;
    margin-bottom: 10px;

}
a.btn-primary{
    border-color: #621132;
    margin-bottom: 10px;
    color: white !important;

}

a.btn-primary:hover{
    color: #621132 !important;
    background-color: #f8f8f8;
    border-color: #4c110f;
}

button.btn-primary:hover{
    color: #621132;
    background-color: #f8f8f8;
    border-color: #4c110f;
}

table{
    th {
        color: #621132;
        font-size: 14px;
    }
    td{
        font-size: 14px;
        color: black;
        a:hover {
            color: #621132;
            background-color: #f8f8f8;
            border-color: #4c110f;
        }
    }
}
